.navigation { }
.navigation__list { 
    display: flex;
    gap: 25px;
}
.navigation__item { }
.navigation__link { 
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: 1px solid transparent; 
    transform: border 0.3s ease-in, box-shadow 0.3s ease-in;
    outline: none;
}
.navigation__link:focus {
    background-color: #FFFFFF;
    border-color: #5B5B5B;
}
.navigation__link:active {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}
.navigation__link_netflix { 
    background-image: url('../img/netflix_logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.navigation__link_okko { 
    background-image: url('../img/okko_logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.navigation__link_kinopoisk { 
    background-image: url('../img/kinopoisk_logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.navigation__link_netflix:hover, .navigation__link_okko:hover, .navigation__link_kinopoisk:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}

.navigation__btn {
    display: none;
}

@media (max-width: 750px) {
    .navigation {
        position: relative;
    }
    .navigation__list {
        display: none;
    }
    .navigation__link { 
        display: block;
        width: 32px;
        height: 32px;
    }

    .navigation__btn {
        display: block;
    }

    .navigation__list_active {
        display: flex;
        flex-direction: column;
        top: 35px;
        right: 0;
        position: absolute;
        gap: 10px;
    }
}