.tabs__control {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 16px 38px;
    display: flex;
    justify-content: space-between;
    max-width: 285px;
    margin-left: auto;
    margin-bottom: 12px;
}

.tabs__btn {
    color: #FFFFFF;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease-in;
}
.tabs__btn:hover {
    cursor: pointer;
}
.tabs__btn_active {
    border-bottom: 2px solid #FFFFFF;
}

.tabs__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.tabs__item {
    display: none;
}

.tabs__item_active {
    display: block;
}

@media (max-width: 1000px) {
    .tabs__control {
        padding: 18px 38px;
        margin-bottom: 10px;
    }
    .tabs__btn {
        font-size: 16px;
    }
}

@media (max-width: 850px) {
    .tabs__content {
        flex-wrap: wrap;
    }
    .tabs__control {
        padding: 16px 46px;
        margin-bottom: 16px;
    }

    .tabs__content_video {
        row-gap: 50px;
    }
    .tabs__content_picture {
        row-gap: 30px;
    }
    .tabs__content_product {
        row-gap: 35px;
    }
}

@media (max-width: 480px) {
    .tabs__control {
        max-width: 220px;
        padding: 10px 30px;
        margin-bottom: 10px;
    }
    .tabs__btn {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .tabs__control {
        margin: 0px auto 10px;
    }
}